@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

@layer utilities {
  .glass-card {
    @apply backdrop-blur-xl bg-white/10 dark:bg-white/5 border border-white/20 shadow-xl;
  }
  .delay-1000 {
    animation-delay: 1s;
  }

  .delay-2000 {
    animation-delay: 2s;
  }
}
